<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Main content-->
    <main>
      <!-- Books subheader -->
      <%- include("./books-header.ejs") %>

      <!-- Show validation errors -->
      <%  if(locals.errors) {%>
        <%- include("../../partials/errors.ejs") %>
      <% } %> 

      <!-- Dialog modal -->
      <!-- closedby attribute is not supported in Safari -->
      <dialog class="modal" closedby="any">
        <p class="modal__text">Enter Admin password to delete</p>
          <div class="form__control">
            <label class="form__label form__label--modal" for="admin-pw">Admin password</label>
            <!-- Connect input and Confirm button to form with form attribute-->
            <input form="book-form" class="form__input form__input--modal" type="password" name="password" id="admin-pw" required>
          </div>
          <div class="btn-group">
            <button class="btn btn--primary btn--cancel" type="button" onclick="closeModal()">Cancel</button>
            <button form="book-form" class="btn btn--primary btn--confirm" type="submit">Confirm</button>
          </div>
      </dialog>
      
      <div class="book__details">
        <h3 class="sub-title"">Book Details</h3>
        
        <!-- Book details -->
        <% if (locals.book) { %>
          <div class="book card card--details">
            <h4 class="book__title"><%= book.title %></h4>
            <p class="book__summary--details">Summary: <%= book.plot_summary %></p>
            <p class="book__author">Author: <%= book.authors %></p>
            <p class="book__genre">Genre: <%= book.genre %></p>
            <p class="book__price">Price: $<%= book.price %></p>
            <p class="book__pages">Total pages: <%= book.total_pages %></p>
            <p class="book__format">Format: <%= book.format %></p>
            <p class="book__edition">Edition: <%= book.edition %></p>
            <p class="book__stock">Stock: <%= book.stock %></p>
            <!-- Convert publish_date into Date object first,then add
              .toISOString() to use it in datetime, and add
              .toLocaleDateString() to convert it into local date -->
            <p class="book__publish-date">
              <% if (book.publish_date) { %>
                <% const date = new Date(book.publish_date) %>
                <time datetime="<%= date.toISOString().split('T')[0] %>">
                  Publish date: <%= date.toLocaleDateString()  %>
                </time>
              <% } else { %>
                Publish date: Unknown
              <% } %>
            </p>
            <p class="book__publisher">Publisher: <%= book.publisher %></p>
            <p class="book__isbn">ISBN: <%= book.isbn %></p>
            <p class="book__date-added">
              <% const dateAdded = new Date(book.date_added) %>
              <time datetime="<%= dateAdded.toISOString().split('T')[0] %>">
                Date added: <%= dateAdded.toLocaleDateString()  %>
              </time>
            </p>
            <p class="book__date-updated">
              <% const dateUpdated = new Date(book.date_updated) %>
              <time datetime="<%= dateUpdated.toISOString().split('T')[0] %>">
                Date updated: <%= dateUpdated.toLocaleDateString()  %>
              </time>
            </p>

            <div class="btn-group">
              <!-- Update book -->
              <a class="link link--update book__update"  href="/books/<%= book.bookId %>/copy/<%= book.copyId %>/update">
                <img src="/icons/icon-update.svg" alt="" width="25" height="25" />Update
              </a>

              <!-- Delete book -->
              <form id="book-form" action="/books/<%= book.bookId %>/copy/<%= book.copyId %>/delete" method="POST" >
                <button class="btn btn--primary btn--delete" type="submit" onclick="openModal(event)">
                  <img src="/icons/icon-delete.svg" alt="" width="25" height="25" />
                  Delete
                </button>
              </form>
            </div>
          </div>
        <% } %>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>

    <script>
      const modal = document.querySelector('.modal')

      /* Open update modal */
      function openModal(event) {
        event.preventDefault()
        modal.showModal()
      }

      /* Close update modal */
      function closeModal() {
        modal.close()
      }
    </script>
  </body>
</html>
