<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Main content-->
    <main class="main">
      <div class="books category">
        <div class="books__controls category__controls">
          <h2 class="sub-title">Books</h2>
          
          <div class="books__actions category__actions">
            <!-- Search book-->
            <form class="books__form category__form" action="/books/search" method="get">
              <label class="visually-hidden" for="search">
                Search for a book
              </label>
              <!-- TODO add value -->
              <input class="books__search category__search" type="search" name="query" id="search" placeholder="Search for a book...">
              <button class="btn btn--search" type="submit" aria-label="Search for a book" title="Search">
                <img src="/icons/icon-search-1.svg" alt="" width="25" height="25" />
              </button>
            </form>

            <!-- Add book -->
            <a class="books__add link--add link" href="/books/new">
              <img src="/icons/icon-plus.svg" alt="" width="25" height="25" />Add Book</a>
          </div>
        </div>

        <!-- Show validation errors -->
        <%- include("../../partials/errors.ejs") %>
        
        <% if (locals.filteredBooks) { %>
          <% if(filteredBooks.length > 0) { %>
            <!-- Show search results -->
            <h3>Search Results</h3>
            <% filteredBooks.forEach(book => { %>
              <a href="/books/<%= book.id %>/copy/<%= book.copyId %>" >
                <h3><%= book.title %></h3>
                <p><%= book.authors %></p>
                <p><%= book.plot_summary %></p>
                <p><%= book.type %></p>
                <p><%= book.format %></p>
                <p><%= book.edition %></p>
              </a>
              <hr>
            <% }) %>
            <a href="/books">Back to Books</a>
          <% } else { %>
            <p>Book not found</p>
          <% } %>
        <% } else if (locals.books) { %>
          <% if ( books.length > 0) { %>
            <!-- Show all books -->
            <div class="books__all gallery">
              <h3>All Books List</h3>
              <ul class="books__list gallery__list">
                <% books.forEach(book => { %>
                  <li class="book card card--book">
                    <a class="book__link" href="/books/<%= book.bookId %>/copy/<%= book.copyId %>" >
                      <h4 class="book__title"><%= book.title %></h4>
                      <p class="book__summary"><%= book.plot_summary %></p>
                      <p><%= book.authors %></p>
                      <p><%= book.type %></p>
                      <p><%= book.format %></p>
                      <p><%= book.edition %></p>
                    </a>

                    <!-- Delete book -->
                    <form class="book__form" action="/books/<%= book.bookId %>/delete" method="POST" >
                      <button class="btn btn--primary btn--delete" type="submit" onclick="return confirm('Warning: This will delete ALL copies and records for this book!');">
                        <img src="/icons/icon-delete.svg" alt="" width="25" height="25" />
                        Delete Entire Book Entry</button>
                    </form>
                  </li>
                <% }) %>
              </ul>
            </div>
          <% } else { %>
            <p>Start by adding some books</p>
          <% } %>
        <% } %>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
