<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Main content -->
    <main class="main">
      <div class="editor">
        <h2 class="sub-title"><%= locals.isUpdate ? 'Update Book' : 'Add Book' %></h2>

        <!-- Show validation errors -->
        <%  if(locals.errors) {%>
          <%- include("../../partials/errors.ejs") %>
        <% } %> 

        <!-- Note -->
        <p><%= locals.isUpdate? 'Note: Title and Author fields are not editable. They are read only.' : '' %></p>

        <!-- Book form -->
        <form action="<%= locals.isUpdate ? '/books/' + book.bookId + '/copy/' + book.copyId + '/update' : '/books/new' %>" method="post" class="form form--book">
          <div class="form__control">
            <label class="form__label" for="title"> Title </label>
            <input class="form__input" type="text" name="title" id="title"
            value="<%= locals.book?.title || '' %>"
            <%= locals.isUpdate ? 'readonly' : '' %> required />
          </div>
          <div class="form__control">
            <label class="form__label" for="summary"> Summary <span class="form__label--hint">(in one or two sentences)</span> </label>
            <textarea class="form__textarea" name="plot_summary" id="summary" rows="5"><%= locals.book?.plot_summary || '' %></textarea>
          </div>
          <div class="form__control">
            <label class="form__label" for="author"> Author </label>
            <input class="form__input" type="text" name="authors" id="author"
            value="<%= locals.book?.authors || '' %>"
            <%= locals.isUpdate ? 'readonly' : '' %> required />
          </div>
          <div class="form__control">
            <label class="form__label" for="genre"> Genre </label>
            <input class="form__input" type="text" name="genre" id="genre"
            value="<%= locals.book?.genre || '' %>"required />
          </div>
          <div class="form__control">
            <label class="form__label" for="total-pages"> Total Pages </label>
            <input class="form__input" type="number" name="total_pages" id="total-pages"
            min="1"
            value="<%= locals.book?.total_pages || '' %>" required />
          </div>
          <div class="form__control">
            <label class="form__label" for="price"> Price <span class="form__label--hint">(E.g. $5.49)</span> </label>
            <input class="form__input" type="text" name="price" id="price" inputmode="decimal" placeholder="$0.00"
            value="<%= locals.book?.price || '' %>"
            required />
          </div>
          <div class="form__control">
            <label class="form__label" for="stock">Stock</label>
            <input class="form__input" type="number" name="stock" id="stock" min="0"
            value="<%= locals.book?.stock || '' %>" required>
          </div>
          <div class="form__control">
            <label class="form__label" for="format"> Format <span class="form__label--hint">(E.g. Hardcover)</span> </label>
            <input class="form__input" type="text" name="format" id="format"
            value="<%= locals.book?.format || '' %>" required />
          </div>
          <div class="form__control">
            <label class="form__label" for="publish-date">Publish date</label>
            <input class="form__input" type="date" name="publish_date" id="publish-date"
            value="<%= locals.book ? new Date(book.publish_date).toISOString().split('T')[0] : '' %>">
          </div>
          <div class="form__control">
            <label class="form__label" for="publisher"> Publisher </label>
            <input class="form__input" type="text" name="publisher" id="publisher"
            value="<%= locals.book?.publisher || '' %>" required />
          </div>
          <div class="form__control">
            <label class="form__label" for="edition">Edition <span class="form__label--hint">(E.g. Special Edition)</span></label>
            <input class="form__input" type="text" name="edition" id="edition"
            value="<%= locals.book?.edition || '' %>">
          </div>
          <div class="form__control">
            <label class="form__label" for="isbn"> ISBN number <span class="form__label--hint">(E.g. 9780441172719)</span></label>
            <input class="form__input" type="text" name="isbn" id="isbn"
            value="<%= locals.book?.isbn || '' %>"
            <%= locals.isUpdate ? 'readonly' : '' %> required />
          </div>

          <!-- Add or Update button -->
          <button class="btn btn--primary btn--add"><%= locals.isUpdate ? 'Update' : 'Add' %>
          </button>
        </form>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
