<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Main content-->
    <main class="main">
      <div class="genres category">
        <div class="genres__controls category__controls">
          <h2 class="sub-title"><a href="/genres" class="link--sub-title">Genres</a></h2>
          
          <!-- Search genre -->
          <div class="genres__actions category__actions">
            <form class="genres__form category__form" action="/genres/search" method="get">
              <label class="visually-hidden" for="search">
                Search for Genre
              </label>
              <!-- ? can i add required attribute -->
              <input class="genres__search category__search" type="text" name="query" id="search"
               value="<%= locals.search ? search : '' %>"
               placeholder="Search for genre...">
              <button class="btn btn--search" type="submit" aria-label="Search for genre" title="Search">
                <img src="/icons/icon-search-1.svg" alt="" width="25" height="25" />
              </button>
            </form>

            <!-- Add genre -->
            <a class="genres__add link--add link" href="/genres/new">
              <img src="/icons/icon-plus.svg" alt="" width="25" height="25" />Add Genre</a>
          </div>
        </div>

        <!-- Show validation errors -->
        <%  if(locals.errors) {%>
          <%- include("../../partials/errors.ejs") %>
        <% } %> 
        
        <% if (locals.filteredGenres) { %>
          <div class="gallery">
            <h3>Search Results</h3>
          <% if(filteredGenres.length > 0) { %>
            <!-- Show search results -->
              <ul class="gallery__list">
                <% filteredGenres.forEach(genre => { %>
                  <li class="card card--small">
                    <div class="genre__image img-container"></div>
                    <div class="genre__info">
                      <h4><%= genre.type %></h4>
                      <!-- TODO:  add total number -->
                      <p>dummy text</p>
                    </div>
                  </li>
                <% }) %>
              </ul>
              <a class="link link--back" href="/genres">
                <img src="/icons/icon-back.svg" alt="" width="25" height="25" />
                Back to Genres</a>
            </div>
            
          <% } else { %>
            <div class="status">
              <p>Genre not found</p>
            </div>
          <% } %>
        <% } else if (locals.genres) { %>
          <% if ( genres.length > 0) { %>
            <!-- Show all genres -->
            <div class="gallery">
              <h3>All Genres List</h3>
              <ul class="genres__list gallery__list">
                <% genres.forEach(genre => { %>
                  <li class="genre card card--small">
                    <div class="genre__image img-container"></div>
                    <div class="genre__info">
                      <h4><%= genre.type %></h4>
                      <!-- TODO:  add total number -->
                      <p>dummy text</p>
                    </div>

                    <!-- Update genre -->
                    <div class="btn-group">
                      <a class="link link--update genre__update"  href="/genres/<%= genre.id %>/update">
                        <img src="/icons/icon-update.svg" alt="" width="25" height="25" />Update</a>

                      <!-- Delete genre -->
                      <form action="/genres/<%= genre.id %>/delete" method="POST" >
                        <button class="btn btn--primary btn--delete" type="submit" onclick="return confirm('Warning: This will delete ALL data for this genre!');">
                          <img src="/icons/icon-delete.svg" alt="" width="25" height="25" />
                          Delete</button>
                      </form>
                    </div>
                  </li>
                <% }) %>
              </ul>
            </div>
          <% } else { %>
            <div class="status">
              <p>Start by adding some genres</p>
            </div>
          <% } %>
        <% } %>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
