<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Main content-->
    <main class="main">
        <!-- Genres subheader -->
        <%- include('./genres-header.ejs') %>

        <!-- Show validation errors -->
        <%  if(locals.errors) {%>
          <%- include("../../partials/errors.ejs") %>
        <% } %> 

        <!-- Dialog modal -->
        <!-- closedby attribute is not supported in Safari -->
        <dialog class="modal" closedby="any">
          <p class="modal__text">Enter Admin password to delete </p>
            <div class="form__control">
              <label class="form__label form__label--modal" for="admin-pw">Admin password</label>
              <!-- Connect input and Confirm button to form with form attribute-->
              <input form="genre-form" class="form__input form__input--modal" type="password" name="password" id="admin-pw" required>
            </div>
            <div class="btn-group">
              <button class="btn btn--primary btn--cancel" type="button" onclick="closeModal()">Cancel</button>
              <button form="genre-form" class="btn btn--primary btn--confirm" type="submit">Confirm</button>
            </div>
        </dialog>
        
        <div class="gallery">
          <% if (locals.filteredGenres) { %>
            <h3>Search Results</h3>
            <% if(filteredGenres.length > 0) { %>
              <!-- Show search results -->
              <ul class="gallery__list">
                <% filteredGenres.forEach(genre => { %>
                  <!-- Genre -->
                  <li class="card card--small">
                    <div class="genre__image img-container"></div>
                    <div class="genre__info">
                      <h4><%= genre.type %></h4>
                      <p>
                        <% if(Number(counts[genre.id]) === 1) { %>
                          <%= counts[genre.id] %> Book
                        <% } else { %>
                          <%= counts[genre.id] %> Books
                        <% } %>
                      </p>
                    </div>
                  </li>
                <% }) %>
              </ul>
              <a class="link link--back" href="/genres">
                <img src="/icons/icon-back.svg" alt="" width="25" height="25" />
                Back to Genres</a>
            <% } else { %>
              <div class="status">
                <p>Genre not found</p>
              </div>
            <% } %>
          <% } else if (locals.genres) { %>
            <h3>All Genres List</h3>
            <% if ( genres.length > 0) { %>
              <!-- Show all genres -->
              <ul class="genres__list gallery__list">
                <% for (const genre of genres) { %>
                  <!-- Genre -->
                  <li class="genre card card--small">
                    <div class="genre__image img-container"></div>
                    <div class="genre__info">
                      <h4><%= genre.type %></h4>
                      <p>
                        <% if(Number(counts[genre.id]) === 1) { %>
                          <%= counts[genre.id] %> Book
                        <% } else { %>
                          <%= counts[genre.id] %> Books
                        <% } %>
                      </p>
                    </div>

                    <!-- Update genre -->
                    <div class="btn-group">
                      <a class="link link--update genre__update"  href="/genres/<%= genre.id %>/update">
                        <img src="/icons/icon-update.svg" alt="" width="25" height="25" />Update</a>

                      <!-- Delete genre -->
                      <form id="genre-form" action="/genres/<%= genre.id %>/delete" method="POST" >
                        <button class="btn btn--primary btn--delete" type="submit" onclick="openModal(event)">
                          <img src="/icons/icon-delete.svg" alt="" width="25" height="25" />
                          Delete</button>
                      </form>
                    </div>
                  </li>
                <% } %>
              </ul>
            <% } else { %>
              <div class="status">
                <p>Start by adding some genres</p>
              </div>
            <% } %>
          <% } %>
        </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>

    <script>
      const modal = document.querySelector('.modal')

      /* Open update modal */
      function openModal(event) {
        event.preventDefault()
        modal.showModal()
      }

      /* Close update modal */
      function closeModal() {
        modal.close()
      }
    </script>
  </body>
</html>
