<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Main content -->
    <main class="main">
      <div class="editor">
        <h2 class="sub-title"><%= locals.isUpdate ? 'Update Genre' : 'Add Genre' %></h2>

        <!-- Show validation errors -->
        <%  if(locals.errors) {%>
          <%- include("../../partials/errors.ejs") %>
        <% } %> 

        <!-- Genre form -->
        <form action="<%= locals.isUpdate ? '/genres/' + genre.id + '/update' : '/genres/new' %>"
          method="post"     class="form">
          <div class="form__control">
            <label class="form__label" for="type"> Type </label>
            <input class="form__input" type="text" name="type" id="type"
            value="<%= locals.genre?.type || '' %>" required  />
          </div>
          <button class="btn btn--primary btn--add"><%= locals.isUpdate ? 'Update' : 'Add' %></button>
        </form>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
