<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Main content-->
    <main class="main">

        <!-- Publisher subheader -->
        <%- include('./publishers-header.ejs') %>

         <!-- Show validation errors -->
        <%  if(locals.errors) {%>
          <%- include("../../partials/errors.ejs") %>
        <% } %> 

        <!-- Dialog modal -->
        <!-- closedby attribute is not supported in Safari -->
        <dialog class="modal" closedby="any">
          <p class="modal__text">Enter Admin password to delete </p>
            <div class="form__control">
              <label class="form__label form__label--modal" for="admin-pw">Admin password</label>
              <!-- Connect input and Confirm button to form with form attribute-->
              <input form="publisher-form" class="form__input form__input--modal" type="password" name="password" id="admin-pw" required>
            </div>
            <div class="btn-group">
              <button class="btn btn--primary btn--cancel" type="button" onclick="closeModal()">Cancel</button>
              <button form="publisher-form" class="btn btn--primary btn--confirm" type="submit">Confirm</button>
            </div>
        </dialog>
        
        <div class="gallery">
          <% if (locals.filteredPublishers) { %>
            <h3>Search Results</h3>
            <% if(filteredPublishers.length > 0) { %>
              <!-- Show search results -->
              <ul class="gallery__list">
                <% filteredPublishers.forEach(publisher => { %>
                  <!-- Publisher -->
                  <li class="card card--small">
                    <div class="genre__image img-container"></div>
                    <div class="publisher__info">
                      <h4><%= publisher.name %></h4>
                      <p><%= publisher.email %></p>
                    </div>
                  </li>
                <% }) %>
              </ul>
              <a class="link link--back" href="/publishers">
                <img src="/icons/icon-back.svg" alt="" width="25" height="25" />
                Back to Publishers</a>
            <% } else { %>
              <div class="status">
                <p>Publisher not found</p>
              </div>
            <% } %>
          <% } else if (locals.publishers) { %>
            <h3>All Publishers List</h3>
            <% if ( publishers.length > 0) { %>
            <!-- Show all publishers -->
              <ul class="gallery__list">
                <% publishers.forEach(publisher => { %>
                  <!-- Publisher -->
                  <li class="card card--small">
                    <div class="genre__image img-container"></div>
                    <div class="publisher__info">
                      <h4><%= publisher.name %></h4>
                      <p><%= publisher.email %></p>
                    </div>

                    <div class="btn-group">
                      <!-- Update publisher -->
                      <a class="link link--update"  href="/publishers/<%= publisher.id %>/update">
                        <img src="/icons/icon-update.svg" alt="" width="25" height="25" />Update</a>

                      <!-- Delete publisher -->
                      <form id="publisher-form" action="/publishers/<%= publisher.id %>/delete" method="POST" >
                        <button class="btn btn--primary btn--delete"  type="submit" onclick="openModal(event)">
                          <img src="/icons/icon-delete.svg" alt="" width="25" height="25" />
                          Delete</button>
                      </form>
                    </div>
                  </li>
                <% }) %>
              </ul>
            <% } else { %>
              <div class="status">
                <p>Start by adding some publishers</p>
              </div>
            <% } %>
          <% } %>
        </div>

    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>

    <script>
      const modal = document.querySelector('.modal')

      /* Open delete modal */
      function openModal(event) {
        event.preventDefault()
        modal.showModal()
      }

      /* Close delete modal */
      function closeModal() {
        modal.close()
      }
    </script>
  </body>
</html>
