<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Main content -->
    <main class="main">
      <!-- Publisher subheader -->
      <%- include('./publishers-header.ejs') %>

      <div class="editor">
        <h2 class="sub-title"><%= locals.isUpdate ? 'Update Publisher' : 'Add Publisher' %></h2>

        <!-- Show validation errors -->
        <%  if(locals.errors) {%>
          <%- include("../../partials/errors.ejs") %>
        <% } %> 

        <!-- Dialog modal -->
        <!-- closedby attribute is not supported in Safari -->
        <dialog class="modal" closedby="any">
          <p class="modal__text">Enter Admin password to <%= isUpdate ? 'update' : 'delete' %> </p>
            <div class="form__control">
              <label class="form__label form__label--modal" for="admin-pw">Admin password</label>
              <!-- Connect input and Confirm button to form with form attribute-->
              <input form="publisher-form" class="form__input form__input--modal" type="password" name="password" id="admin-pw" required>
            </div>
            <div class="btn-group">
              <button class="btn btn--primary btn--cancel" type="button" onclick="closeModal()">Cancel</button>
              <button form="publisher-form" class="btn btn--primary btn--confirm" type="submit">Confirm</button>
            </div>
        </dialog>

        <!-- Publisher form -->
        <form id="publisher-form" action="<%= locals.isUpdate ? '/publishers/' + publisherId + '/update' : '/publishers/new' %>"
          method="post" class="form">
          <div class="form__control">
            <label class="form__label" for="name"> Name </label>
            <input class="form__input" type="text" name="name" id="name"
            value="<%= locals.publisher?.name || '' %>" required  />
          </div>
          <div class="form__control">
            <label class="form__label" for="email"> Email </label>
            <input class="form__input" type="email" name="email" id="email"
            value="<%= locals.publisher?.email || '' %>"/>
          </div>

          <div class="btn-group btn-group--form">
            <!-- Cancel link -->
            <a href="/publishers" class="link link--cancel">Cancel</a>

            <!-- Update or Add button -->
            <button class="btn btn--primary btn--add"
            onclick="openModal(event)"><%= locals.isUpdate ? 'Update' : 'Add' %></button>
          </div>
        </form>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>

    <script>
      const modal = document.querySelector('.modal')

      /* Open update modal */
      function openModal(event) {
        event.preventDefault()
        modal.showModal()
      }

      /* Close update modal */
      function closeModal() {
        modal.close()
      }
    </script>
  </body>
</html>
