<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <main class="main">
      <div class="editor">
        <h2 class="sub-title"><%= locals.isUpdate ? 'Update Publisher' : 'Add Publisher' %></h2>
        <!-- Show validation errors -->
        <%- include("../../partials/errors.ejs") %>
        <!-- New publisher form -->
        <form action="<%= locals.isUpdate ? '/publishers/' + publisher.id + '/update' : '/publishers/new' %>"
          method="post"     class="form">
          <div class="form__control">
            <label class="form__label" for="name"> Name </label>
            <input class="form__input" type="text" name="name" id="name"
            value="<%= locals.publisher?.name || '' %>" required  />
          </div>
          <div class="form__control">
            <label class="form__label" for="email"> Email </label>
            <input class="form__input" type="email" name="email" id="email"
            value="<%= locals.publisher?.email || '' %>"/>
          </div>
          <button class="btn btn--primary btn--add"><%= locals.isUpdate ? 'Update' : 'Add' %></button>
        </form>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
