<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <main class="main">
      <div class="editor">
        <h2 class="sub-title"><%= locals.isUpdate ? 'Update Author' : 'Add Author' %></h2>
        <!-- Show validation errors -->
        <%- include("../../partials/errors.ejs") %>
        <!-- New author form -->
        <form action="<%= locals.isUpdate ? '/authors/' + author.id + '/update' : '/authors/new' %>"
          method="post" class="form">
          <div class="form__control">
            <label class="form__label" for="fullName"> Full Name </label>
            <input class="form__input" type="text" name="full_name" id="fullName"
            value="<%= locals.author?.full_name || '' %>" required  />
          </div>
          <div class="form__control">
            <label class="form__label" for="birthDate"> DOB </label>
            <input class="form__input" type="date" name="birth_date" id="birthDate"
            value="<%= locals.author ? new Date(author.birth_date).toISOString().split('T')[0] : '' %>"/>
          </div>
          <button class="btn btn--primary btn--add"><%= locals.isUpdate ? 'Update' : 'Add' %></button>
        </form>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
