<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Main content-->
    <main class="main">
        <!-- Authors subheader -->
        <%- include("./authors-header.ejs") %>
        

        <!-- Show validation errors -->
        <%  if(locals.errors) {%>
          <%- include("../../partials/errors.ejs") %>
        <% } %> 

        <!-- Dialog modal -->
        <!-- closedby attribute is not supported in Safari -->
        <dialog class="modal" closedby="any">
          <p class="modal__text">Enter Admin password to delete </p>
            <div class="form__control">
              <label class="form__label form__label--modal" for="admin-pw">Admin password</label>
              <!-- Connect input and Confirm button to form with form attribute-->
              <input form="author-form" class="form__input form__input--modal" type="password" name="password" id="admin-pw" required>
            </div>
            <div class="btn-group">
              <button class="btn btn--primary btn--cancel" type="button" onclick="closeModal()">Cancel</button>
              <button form="author-form" class="btn btn--primary btn--confirm" type="submit">Confirm</button>
            </div>
        </dialog>

        <div class="gallery">
          <% if (locals.filteredAuthors) { %>
            <h3>Search Results</h3>
            <% if(filteredAuthors.length > 0) { %>
              <!-- Search results -->
              <ul class="gallery__list">
                <% filteredAuthors.forEach(author => { %>
                  <!-- Author -->
                  <li class="card card--small">
                    <div class="author__image img-container"></div>
                    <div class="author__info">
                      <h3><%= author.full_name %></h3>
                      <p>
                        <% if (author.birth_date) { %>
                          <% const date = new Date(author.birth_date) %>
                          <time datetime="<%= date.toISOString().split('T')[0] %>">
                            DOB: <%= date.toLocaleDateString()  %>
                          </time>
                        <% } else { %>
                          DOB: Unknown
                        <% } %>
                      </p>
                    </div>
                  </li>
                <% }) %>
              </ul>

              <!-- Back to authors -->
              <a class="link link--back" href="/authors">
                <img src="/icons/icon-back.svg" alt="" width="25" height="25" />
                Back to Authors
              </a>
            <% } else { %>
              <div class="status">
                <p>Author not found</p>
              </div>
            <% } %>
          <% } else if (locals.authors) { %>
            <h3>All Authors List</h3>
            <% if(authors.length > 0) { %>
              <!-- Authors list -->
              <ul class="gallery__list">
                <% authors.forEach(author => { %>
                  <!-- Author -->
                  <li class="author card card--small">
                    <div class="author__image img-container"></div>
                    <div class="author__info">
                      <h3><%= author.full_name %></h3>
                      <p>
                        <% if (author.birth_date) { %>
                          <% const date = new Date(author.birth_date) %>
                          <time datetime="<%= date.toISOString().split('T')[0] %>">
                            DOB: <%= date.toLocaleDateString()  %>
                          </time>
                        <% } else { %>
                          DOB: Unknown
                        <% } %>
                      </p>
                    </div>

                    
                    <div class="btn-group">
                      <!-- Update author -->
                      <a class="link link--update author__update"  href="/authors/<%= author.id %>/update">
                        <img src="/icons/icon-update.svg" alt="" width="25" height="25" />Update
                      </a>

                      <!-- Delete author -->
                      <form id="author-form" action="/authors/<%= author.id %>/delete" method="POST" >
                        <button class="btn btn--primary btn--delete" type="submit" onclick="openModal(event)">
                          <img src="/icons/icon-delete.svg" alt="" width="25" height="25" />
                          Delete
                        </button>
                      </form>
                    </div>
                  </li>
                <% }) %>
              </ul>
            <% } else { %>
              <div class="status">
                <p>Start by adding some authors</p>
              </div>
            <% } %>
          <% } %>
        </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>

    <script>
      const modal = document.querySelector('.modal')

      /* Open update modal */
      function openModal(event) {
        event.preventDefault()
        modal.showModal()
      }

      /* Close update modal */
      function closeModal() {
        modal.close()
      }
    </script>
    
  </body>
</html>
