<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Main content-->
    <main class="main">
      <div class="authors category">
        <div class="category__controls">
          <h2 class="sub-title">Authors</h2>
         
          <!-- Search author-->
          <div class="category__actions">
            <form class="category__form" action="/authors/search" method="get">
              <label class="visually-hidden" for="search">
                Search for Author
              </label>
              <input class="category__search" type="search" name="query" id="search"
               value="<%= locals.search ? search : '' %>"
               placeholder="Search for author...">
              <button class="btn btn--search" type="submit" aria-label="Search for author" title="Search">
                <img src="/icons/icon-search-1.svg" alt="" width="25" height="25" />
              </button>
            </form>

            <!-- Add author -->
            <a class="link--add link" href="/authors/new">
              <img src="/icons/icon-plus.svg" alt="" width="25" height="25" />Add Author</a>
          </div>
        </div>

         <!-- Show validation errors -->
          <%- include("../../partials/errors.ejs") %>
        
        <% if (locals.filteredAuthors) { %>
          <% if(filteredAuthors.length > 0) { %>
            <!-- Show search results -->
            <h3>Search Results</h3>
            <% filteredAuthors.forEach(author => { %>
              <h3><%= author.full_name %></h3>
              <p>
                <% if (author.birth_date) { %>
                  <% const date = new Date(author.birth_date) %>
                  <time datetime="<%= date.toISOString().split('T')[0] %>">
                    DOB: <%= date.toLocaleDateString()  %>
                  </time>
                <% } else { %>
                  DOB: Unknown
                <% } %>
              </p>
              <hr>
            <% }) %>
            <a href="/authors">Back to Authors</a>
          <% } else { %>
            <p>Author not found</p>
          <% } %>
        <% } else if (locals.authors) { %>
          <% if ( authors.length > 0) { %>
            <!-- Show all authors -->
            <div class="gallery">
              <h3>All Authors List</h3>
              <ul class="gallery__list">
                <% authors.forEach(author => { %>
                  <li class="author card card--small">
                    <div class="author__image img-container"></div>
                    <div class="author__info">
                      <h3><%= author.full_name %></h3>
                      <p>
                        <% if (author.birth_date) { %>
                          <% const date = new Date(author.birth_date) %>
                          <time datetime="<%= date.toISOString().split('T')[0] %>">
                            DOB: <%= date.toLocaleDateString()  %>
                          </time>
                        <% } else { %>
                          DOB: Unknown
                        <% } %>
                      </p>
                    </div>

                    <!-- Update author -->
                    <div class="btn-group">
                      <a class="link link--update author__update"  href="/authors/<%= author.id %>/update">
                        <img src="/icons/icon-update.svg" alt="" width="25" height="25" />Update</a>

                      <!-- Delete author -->
                      <form action="/authors/<%= author.id %>/delete" method="POST" >
                        <button class="btn btn--primary btn--delete" type="submit" onclick="return confirm('Warning: This will delete ALL data for this author!');">
                          <img src="/icons/icon-delete.svg" alt="" width="25" height="25" />
                          Delete</button>
                      </form>
                    </div>
                    <% }) %>
                  </li>
              </ul>
            </div>
          <% } else { %>
            <p>Start by adding some authors</p>
          <% } %>
        <% } %>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
