<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../../partials/header.ejs') %>

    <!-- Sidebar -->
    <%- include('../../partials/sidebar.ejs') %>

    <!-- Main content -->
    <main class="main">
      <!-- Authors subheader -->
      <%- include("./authors-header.ejs") %>

      <div class="editor">
        <!-- Subtitle -->
        <h3 class="sub-title"><%= locals.isUpdate ? 'Update Author' : 'Add Author' %></h3>

        <!-- Show validation errors -->
        <%  if(locals.errors) {%>
          <%- include("../../partials/errors.ejs") %>
        <% } %> 

        <!-- Dialog modal -->
        <!-- closedby attribute is not supported in Safari -->
        <dialog class="modal" closedby="any">
          <p class="modal__text">Enter Admin password to <%= isUpdate ? 'update' : 'delete' %> </p>
            <div class="form__control">
              <label class="form__label form__label--modal" for="admin-pw">Admin password</label>
              <!-- Connect input and Confirm button to form with form attribute-->
              <input form="author-form" class="form__input form__input--modal" type="password" name="password" id="admin-pw" required>
            </div>
            <div class="btn-group">
              <button class="btn btn--primary btn--cancel" type="button" onclick="closeModal()">Cancel</button>
              <button form="author-form" class="btn btn--primary btn--confirm" type="submit">Confirm</button>
            </div>
        </dialog>

        <!-- Author form -->
        <form id="author-form" action="<%= locals.isUpdate ? '/authors/' + authorId + '/update' : '/authors/new' %>"
          method="post" class="form">
          <!-- Name -->
          <div class="form__control">
            <label class="form__label" for="fullName"> Full Name </label>
            <input class="form__input" type="text" name="full_name" id="fullName"
            value="<%= locals.author?.full_name || '' %>" required  />
          </div>
          <!-- Date of birth -->
          <div class="form__control">
            <label class="form__label" for="birth-date"> DOB </label>
            <input class="form__input" type="date" name="birth_date" id="birth-date"
            value="<%= locals.author ? new Date(author.birth_date).toISOString().split('T')[0] : '' %>"/>
          </div>

          <div class="btn-group btn-group--form">
            <!-- Cancel link -->
            <a href="/authors" class="link link--cancel">Cancel</a>

            <!-- Add or Update button -->
            <button class="btn btn--primary btn--add" onclick="openModal(event)" >
              <%= locals.isUpdate ? 'Update' : 'Add' %>
            </button>
          </div>
        </form>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>

    <script>
    /* Get local date */
    let today = new Date();
    let dd = today.getDate();
    let mm = today.getMonth() + 1; //January is 0!
    const yyyy = today.getFullYear();

    if (dd < 10) {
      dd = '0' + dd;
    }

    if (mm < 10) {
      mm = '0' + mm;
    } 
        
    today = yyyy + '-' + mm + '-' + dd;

    document.querySelector('#birth-date').setAttribute('max', today)

   

    const modal = document.querySelector('.modal')

    /* Open update modal */
    function openModal(event) {
      event.preventDefault()
      modal.showModal()
    }

    /* Close update modal */
    function closeModal() {
      modal.close()
    }

    </script>
  </body>
</html>
